* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-image: url(../../src/imgs/fundo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.back {
  position: fixed;
  transform: translateY(20px);
  color: #dac7ff;
  text-decoration: none;
  border: solid 2px #916dd5;
  border-radius: 50px;
  padding: 10px;
  margin-left: 20px;
}

.back:hover {
  background-color: #916dd5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border-radius: 25px;
  border: solid 3px #916dd5;
  padding: 15px;
  text-align: center;
}

.box2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 10px;
  background-color: blue;
}

.box2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    width: 100%;
}

.box2 div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: lime;
}

.box1 {
    margin: 10px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 div {
    text-align: start;
    margin-top: 10px;
    width: 100%;
    background-color: aqua;
}

#preview {
  border: solid 3px #916dd5;
  border-radius: 15px;
  width: auto;
  max-width: 50vw;
  height: 50vh;
}

input[type="text"],
textarea {
  border: solid 3px #916dd5;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  padding: 5px;
}

input[type="text"] {
  height: 30px;
  width: 250px;
}

textarea {
    border-radius: 10px;
    resize: none;
}
