:root {
  --corFundo: #0b001a;
  --corTexto: white;
  --cor1: #e0c0f1;
  --cor2: #3f2182;
  --cor3: #3f2182;
}

body.lightTheme {
  --corFundo: #fff0ff;
  --corTexto: black;
  --cor1: #200e4b;
  --cor2: #dbb6ee;
  --cor3: #e0b0ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: var(--corFundo);
}

.back {
  position: fixed;
  transform: translateY(20px);
  color: var(--cor1);
  text-decoration: none;
  border: solid 2px #916dd5;
  border-radius: 50px;
  padding: 10px;
  margin-left: 20px;
}

.back:hover {
  background-color: #916dd5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border-radius: 15px;
  border: solid 3px #916dd5;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxes{
  display: block;
}

input{
  color: var(--corTexto);
  font-size: 16px;
}

p{
  color: var(--cor1);
}

label{
  color: var(--corTexto);
}

.box2 {
  display: flex;
  margin: 5px 10px;
}

.box2 .box22 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #916dd5;
  border-radius: 10px;
  padding: 10px;
  margin: 3px;
  width: 100%;
}

.box2 .box22 div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.box1 {
  margin: 5px 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview {
  border: solid 3px #916dd5;
  border-radius: 15px;
  width: 40vh;
  height: 40vh;
  object-fit: cover;
}

input[type="text"],
textarea {
  border: solid 3px #916dd5;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  padding: 5px;
}

input[type="text"] {
  height: 30px;
  width: 100%;
}

textarea {
  border-radius: 10px;
  resize: none;
  width: 100%;
  margin: 3px;
  color: var(--corTexto);
}

.submit {
  background-color: transparent;
  padding: 5px;
  color: var(--cor1);
  border: solid 3px #916dd5;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  font-size: 16px;
}

.submit:hover {
  background-color: #916dd5;
  cursor: pointer;
}

.custom-file-label {
  padding: 10px 20px;
  background-color: transparent;
  border: solid 3px #6941ad;
  color: var(--corTexto);
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  margin: 5px 0;
}

.custom-file-label:hover {
  background-color: #6941ad;
}