* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #202020;
    color: white;
  }
  
  form {
    text-align: center;
    margin-top: calc(50vh - 132px);
  }
  
  form input[type="submit"] {
    background-color: #4e4e4e;
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 50px;
    margin-top: 5px;
  }
  
  form input[type="submit"]:hover {
    background-color: lime;
    animation: pulse 1.5s infinite;
    cursor: pointer;
  }
  
  .container {
    text-align: center;
  }
  
  .container input {
    border: none;
    border-radius: 5px;
    background-color: #4e4e4e;
    color: white;
    height: 30px;
    width: 200px;
    margin: 2px;
  }
  
  img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* object-fit: cover; */
    /* background: red; */
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
  }
  