:root {
  --corFundo: #0b001a;
  --corTexto: white;
  --cor1: #13072e;
  --cor2: #3f2182;
  --cor3: #3f2182;
}

body.lightTheme {
  --corFundo: #fff0ff;
  --corTexto: black;
  --cor1: #e0c0f1;
  --cor2: #dbb6ee;
  --cor3: #e0b0ff;
}

/*! itens no geral */
* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--corTexto);
}

body {
  background-color: var(--corFundo);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

header {
  background-color: #916dd5;
  /* position: absolute; */
  /* width: 100vw; */
}

form {
  padding: 5px;
  padding-top: 10px;
  background-color: var(--cor2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  color: var(--corTexto);
  background-color: var(--corFundo);
  border: none;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  width: 40vw;
  height: 25px;
}

form div {
  display: flex;
  align-items: center;
}

form div input {
  width: calc(40vw - 35px);
}

form input[type="submit"] {
  width: 70px;
}

form input[type="submit"]:hover {
  background-color: #916dd5;
  color: white;
}

/*! classes */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLogin {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerPost{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 725px;
}

.header {
  height: 55px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  border-style: none;
  display: flex;
  background-color: transparent;
}

.header button img {
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.pesquisaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7151a9;
  padding: 5px;
}

.publicacaoDiv {
  justify-content: space-between;
  background-color: var(--cor2);
  margin-top: 30px;
  width: 50vw;
  min-width: 250px;
  height: auto;
  border-radius: 5px;
  padding: 5px;
}

.publicacaoDiv img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.publicacaoDiv h3 {
  font-weight: normal;
}

.cabecalho {
  display: flex;
  align-items: center;
}

.cabecalho img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.postFlexCollum {
  display: flex;
  flex-direction: column;
}

.postFlexCollum textarea {
  border: none;
  border-radius: 5px;
  height: 75px;
  padding: 5px;
  background-color: var(--cor1);
  resize: none;
  margin-top: 5px;
}

.imgpub {
  background-color: #7151a9;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.imgpub img {
  height: 40vh;
  border-radius: 5px;
}

/*! ids */

#icon {
  width: 70px;
  height: auto;
}

#x {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: absolute;
  border: none;
  visibility: hidden;
}

#z {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  position: absolute;
  visibility: hidden;
}

#barraPesquisa {
  background-color: var(--cor2);
  border: none;
  border-radius: 5px;
  height: 30px;
  width: calc(400px - 5px - 30px);
}

#procurar {
  background-color: var(--corFundo);
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  text-align: center;
  height: 30px;
}

#procurar img {
  height: 30px;
}

#infoUser {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  width: 450px;
  border-radius: 5px;
  background-color: var(--corFundo);
  position: absolute;
  margin-left: calc(50vw - 450px / 2);
  margin-top: calc(50vh - 650px / 2);
  transform: translateY(-200%);
  visibility: hidden;
}

#infoUser img {
  width: 250px;
  height: 250px;
  margin: 10px;
}

#infoUser button {
  background-color: transparent;
  border-radius: 5px;
  height: 50px;
  width: 250px;
  margin: 5px;
  border: solid 3px red;
}

#infoUser button:hover {
  background-color: red;
}

#eye {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

#salas {
  background-color: var(--corFundo);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: calc(100vh - 10px);
  padding: 5px;
  position: absolute;
  transform: translateX(-100%);
}

#salas button {
  background-color: transparent;
  border: solid 3px #6941ad;
  border-radius: 5px;
  width: 290px;
  height: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#salas button img {
  height: 35px;
  width: auto;
  margin: 10px;
}

#salas button:hover,
#eye:hover,
#telaConfig button:hover {
  background-color: #6941ad;
}

#post {
  border: solid 3px #6941ad;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  position: fixed;
  margin-top: calc(100vh - 100px);
  margin-left: calc(100vw - 100px);
}

#post img {
  height: 75px;
}

#post:hover {
  background-color: #6941ad;
  animation: pulse 2s infinite;
}

#publicarPost {
  border: none;
  border-radius: 5px;
  background-color: var(--cor2);
  height: 30px;
  width: 100px;
  margin-top: 5px;
}

#publicarPost:hover {
  background-color: #6941ad;
  animation: pulse 1.5s;
}

#fileImgUser{
  background-color: var(--cor1);
  border-radius: 5px;
  margin-top: 5px;
}

/*! animações */

@keyframes showNav {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes closeNav {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes downY {
  from {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes upY {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-200%);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

/*! ajustar tela */

@media screen and (max-width: 685px) {
  /*todo itens no geral */

  /* todo classes */
  .header {
    height: 30px;
  }

  .header button img {
    height: 35px;
    width: auto;
  }

  /*todo ids */
  #icon {
    width: 40px;
  }

  #barraPesquisa {
    height: 20px;
  }

  #procurar {
    height: 20px;
  }

  #procurar img {
    height: 20px;
  }

  #salas {
    width: 225px;
  }

  #salas button {
    width: 215px;
  }

  #telaConfig {
    width: 300px;
    height: 400px;
    margin-left: calc(50vw - 300px / 2);
    margin-top: calc(50vh - 400px / 2);
  }

  #telaConfig button {
    width: 150px;
  }

  #telaConfig button img {
    height: 25px;
    width: 25px;
  }

  #infoUser {
    width: 300px;
    height: 550px;
    margin-left: calc(50vw - 300px / 2);
    margin-top: calc(50vh - 550px / 2);
  }

  #infoUser img {
    height: 200px;
    width: 200px;
  }

  #infoUser button {
    width: 200px;
    height: 40px;
  }

  #post {
    margin-top: calc(100vh - 60px);
    margin-left: calc(50vw - 55px / 2);
  }

  #post img {
    height: 55px;
  }
}
