:root {
  --corFundo: #131313;
  --corTexto: white;
  --cor1: #202020;
  --cor2: #292929;
  --cor3: #494949;
}

body.lightTheme{
  --corFundo: white;
  --corTexto: black;
  --cor1: #e9e9e9;
  --cor2: #d3d3d3;
  --cor3: #a1a1a1;
}

/* itens no geral */
* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--corTexto);
}

body {
  background-color: var(--corFundo);
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

header {
  background-color: #7151a9;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 30px;
  height: 30px;
}

header button {
  border-style: none;
  display: flex;
  background-color: transparent;
}

form {
  padding: 5px;
  padding-top: 10px;
  background-color: var(--cor2);
  border-radius: 5px;
  text-align: center;
}

form div {
  margin: 5px;
  width: min-content;
}

form input {
  color: var(--corFundo);
  background-color: var(--corTexto);
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 50vw;
  height: 25px;
}

form input[type="submit"] {
  width: 70px;
}

form input[type="submit"]:hover {
  background-color: #916dd5;
}

/* classes */

.containerLogin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  width: 100vw;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.box1 img {
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.box1 img:hover {
  background-color: #916dd5;
}

.box2 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 {
  width: 100vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.box3 img {
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.box3 img:hover {
  background-color: #916dd5;
}

.chat {
  background-color: var(--cor2);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat button {
  border-style: none;
  border-radius: 10px;
  background-color: var(--corFundo);
  text-align: center;
  height: 45px;
  width: 45px;
  padding: 5px;
  margin-left: 5px;
}

.chat button img {
  height: 30px;
}

.chat button:hover {
  background-color: #7151a9;
}

/* ids */

#container {
  /* background-color: blue; */
  display: flex;
  height: calc(100vh - 80px);
  width: 100vw;
}

#x{
  width: 100px;
  height: 100px;
  background-color: aqua;
}

#icon {
  width: 70px;
  height: auto;
}

/* #subContainer {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 300px);
  height: calc(100vh - 80px);
} */

#salas{
  background-color: var(--cor1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: calc(100vh - 80px);
}

#salas button{
  background-color: var(--cor2);
  border-style: none;
  border-radius: 5px;
  width: 290px;
  height: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#salas button img{
  height: 45px;
  width: auto;
  margin:10px;
}

#salas button:hover,
#infoUser button:hover {
  background-color: var(--cor3);
}

/* #infoUser {
  background-color: var(--cor1);
  height: calc(100vh - 85px);
  width: 400px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#infoUser button {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: var(--cor2);
  padding: 5px;
  margin: 3px;
}

#infoUser button img {
  height: 70px;
  width: auto;
}

#infoUser h3 {
  margin-bottom: 25px;
}

#infoUser img {
  height: 200px;
}

#mensagem {
  width: 50vw;
  height: 35px;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
  background-color: var(--corFundo);
} */

#miniPass {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#miniPass input[type="password"] {
  width: calc(50vw - 35px);
  margin: 5px;
}

#miniPass button {
  background-color: transparent;
  border: none;
}

#miniPass img {
  width: 30px;
  height: 30px;
}